.login {
    width: auto;
    min-height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    background: rgb(167, 166, 186);
    background: linear-gradient(90deg, rgba(167, 166, 186, 1) 4%, rgba(207, 207, 207, 1) 25%, rgba(143, 168, 173, 1) 81%);


    .login_form {
        width: 50%;
        height: 90%;
        padding: 50px 80px;
        position: relative;
        background-color: #e6ecec;
        margin: 60px auto;


        :before {
            content: "";
            // width: 49%;
            width: 100%;
            height: 10px;
            padding: 0px;
            position: absolute;
            // margin: auto;
            top: -10px;
            left: 0;
            right: 0;
            background-image: linear-gradient(to right, #9a3f3f 20%, #479842 20%, #479842 75%, #479842 75%, #737373 100%);
        }


        form {

            .form-group {
                label {
                    font-size: 21px;
                    color: #5c5c5c;
                }

                input[type="text"],
                input[type="password"] {
                    border: 2px solid #d8dcdc;
                    border-radius: 50px;
                    background-color: #e6ecec;
                    color: #000 !important;
                }

                ::placeholder {
                    font-size: 16px;
                }

                input:focus {
                    border: 2px solid #d8dcdc;
                    // background-color: #b0acac;
                    background-color: #cccdcd;
                    color: #000 !important;
                }

                .btn-outline-info {
                    border-radius: 50px;
                }
            }

        }


    }


}




@media(max-width:768px) {
    .login {
        width: auto;
        height: auto;
        position: relative;

        .login_form {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            padding: 10px 15px;
            background-color: #e6ecec;
            margin: 1px auto;

            ::placeholder {
                font-size: 16px;
            }

            :before {
                content: "";
                width: 0%;
                height: auto;

                background-image: none;
            }
        }










    }

}