.register {
    width: auto;
    min-height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    background: rgb(167, 166, 186);
    background: linear-gradient(90deg, rgba(167, 166, 186, 1) 4%, rgba(207, 207, 207, 1) 25%, rgba(143, 168, 173, 1) 81%);


    .register_form {
        width: 50%;
        height: 100%;
        padding: 50px 80px;
        background-color: #e6ecec;
        margin: 60px auto;


        :before {
            content: "";
            width: 49%;
            height: 10px;
            padding: 0px;
            position: absolute;
            margin: auto;
            top: 59px;
            left: 0;
            right: 0;
            background-image: linear-gradient(to right, #9a3f3f 20%, #479842 20%, #479842 75%, #479842 75%, #737373 100%);
        }


        form {

            .form-group {
                label {
                    font-size: 21px;
                    color: #5c5c5c;
                }

                input[type="text"],
                input[type="password"] {
                    background-color: #b0acac;
                    border: 0px;
                    border-radius: 50px;
                    color: #000 !important;
                }

                ::placeholder {
                    font-size: 16px;
                }

                .btn-outline-info {
                    border-radius: 50px;
                }
            }

        }


    }
}

@media(max-width:768px) {
    .register {
        position: relative;

        .register_form {
            width: auto;
            height: 100vh;
            overflow: hidden;
            padding: 10px 15px;
            background-color: #fafafa;
            margin: 1px auto;

            ::placeholder {
                font-size: 16px;
            }

            :before {
                content: "";
                width: 0%;
                height: auto;

                background-image: none;
            }
        }










    }

}